# ==============================================================================
# Core Service (.env.example)
# ==============================================================================
PORT=8081
GRPC_PORT=9090

# PostgreSQL Credentials
DB_USERNAME=postgres
DB_PASSWORD=postgres_password
